<!DOCTYPE html>
<html>
  <head>
    <title>New Miner</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div class="container">
      <h3><a href="/employees">View Miners</a></h3>
      <h1>Create New Miner</h1>
      <form action="/employees/save" method="post">
        <table>
          <tbody>
            <tr>
              <td>Name</td>
              <td><input type="text" name="name" /></td>
            </tr>
            <tr>
              <td>Type</td>
              <td><input type="text" name="type"></td>
            </tr>
            <tr>
              <td>Position</td>
              <td><input type="text" name="position" /></td>
            </tr>
            <tr>
              <td>Hashrate</td>
              <td><input type="text" pattern="\d*(\.\d{0,2})?" name="hashrate" /></td>
            </tr>
            <tr>
              <td colspan="2"><input type="submit" value="Save New Miner" /></td>
            </tr>
          </tbody>
        </table>
      </form>
    </div>
  </body>
</html>
